seaborn
numpy
pandas
scikit-learn
xgboost
matplotlib
seaborn
plotly
streamlit
joblib
scipy
streamlit-option-menu
streamlit-metrics
streamlit-plotly-events
statsmodels
openpyxl
python-dotenv
tqdm
streamlit-aggrid
streamlit-echarts
datetime
KNNImputer
StandardScaler
OneHotEncoder
OrdinalEncoder
LabelEncoder
SMOTE
stats
pearsonr
MinMaxScaler
RandomForestClassifier
classification_report
confusion_matrix
roc_auc_score
roc_curve
cross_val_score
accuracy_score
f1_score
